body{
    background: url(sunflower.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
 
}
.box{
    width:300px;
    padding: 40px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(0, 0, 0);
    text-align: center;
    border-radius: 60px;
}
.box h3{
    color:rgb(252, 252, 252);
    font-weight:500;
    font-family:sans-serif;
}
.box h4{
    color:rgb(248, 248, 238);
    text-transform:uppercase;
    font-weight:500;
    font-family:sans-serif;
}
.box input[type="text"],.box input[type="password"]{
    border: 0;
    background: none;
    display:block;
    margin:20px auto;
    text-align: center;
    border: 2px solid #fdfcfb;
    padding: 14px 10px;
    width:200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition:0.25s;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
    width:280px;
    border-color: #f8f41e;
}
.box input[type="submit"]{
    border: 0;
    background:none;
    display:block;
    margin:20px auto;
    text-align:center;
    border: 2px solid #f8f41e;
    padding:14px 40px;
    outline: none;
    color:white;
    border-radius:24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: #1ef830;
}












